/* import fonts */
@font-face {
  
    /*font-style: normal;*/
    font-weight: 400;
    src: url("../fonts/minecraft.ttf");
}

@font-face {

    font-style: normal;
    font-weight: 400;
    src: url("../fonts/alagard.ttf");
}

#titleLabel {
    -fx-font-size: 50px;
    -fx-font-family: "alagard";
    -fx-font-weight: 300;
    -fx-text-fill: #d7d7d7;
    -fx-effect: dropshadow(one-pass-box, black, 2, 1, 1, 1);
}

Pane {
    -fx-background-color: black;
}

.buttons {
    -fx-font-size: 16px;
    -fx-font-family: "minecraft";
    -fx-font-weight: 300;
    -fx-text-fill: #d7d7d7;
}

.buttons:hover {
    -fx-text-fill: #e73b37;
    -fx-effect: dropshadow(one-pass-box, black, 1, 1, 1, 1);
}